<div>
  <h2 id="page-heading" data-cy="PlanTransactionHeading">
    <span jhiTranslate="tradePlannerApp.planTransaction.home.title">Plan Transactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tradePlannerApp.planTransaction.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-plan-transaction"
        [routerLink]="['/plan-transaction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tradePlannerApp.planTransaction.home.createLabel"> Create a new Plan Transaction </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="planTransactions?.length === 0">
    <span jhiTranslate="tradePlannerApp.planTransaction.home.notFound">No planTransactions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="planTransactions && planTransactions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="tradePlannerApp.planTransaction.numberOfContracts">Number Of Contracts</span></th>
          <th scope="col"><span jhiTranslate="tradePlannerApp.planTransaction.costPerContract">Cost Per Contract</span></th>
          <th scope="col"><span jhiTranslate="tradePlannerApp.planTransaction.stopLoss">Stop Loss</span></th>
          <th scope="col"><span jhiTranslate="tradePlannerApp.planTransaction.technicalStopLoss">Technical Stop Loss</span></th>
          <th scope="col"><span jhiTranslate="tradePlannerApp.planTransaction.timeStop">Time Stop</span></th>
          <th scope="col"><span jhiTranslate="tradePlannerApp.planTransaction.plannedEntryDate">Planned Entry Date</span></th>
          <th scope="col"><span jhiTranslate="tradePlannerApp.planTransaction.plannedExitDate">Planned Exit Date</span></th>
          <th scope="col"><span jhiTranslate="tradePlannerApp.planTransaction.entryReason">Entry Reason</span></th>
          <th scope="col"><span jhiTranslate="tradePlannerApp.planTransaction.exitReason">Exit Reason</span></th>
          <th scope="col"><span jhiTranslate="tradePlannerApp.planTransaction.orderStatus">Order Status</span></th>
          <th scope="col"><span jhiTranslate="tradePlannerApp.planTransaction.tradingPlan">Trading Plan</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let planTransaction of planTransactions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/plan-transaction', planTransaction.id, 'view']">{{ planTransaction.id }}</a>
          </td>
          <td>{{ planTransaction.numberOfContracts }}</td>
          <td>{{ planTransaction.costPerContract }}</td>
          <td>{{ planTransaction.stopLoss }}</td>
          <td>{{ planTransaction.technicalStopLoss }}</td>
          <td>{{ planTransaction.timeStop | formatMediumDatetime }}</td>
          <td>{{ planTransaction.plannedEntryDate | formatMediumDatetime }}</td>
          <td>{{ planTransaction.plannedExitDate | formatMediumDatetime }}</td>
          <td>{{ planTransaction.entryReason }}</td>
          <td>{{ planTransaction.exitReason }}</td>
          <td jhiTranslate="{{ 'tradePlannerApp.OrderStatus.' + planTransaction.orderStatus }}">{{ planTransaction.orderStatus }}</td>
          <td>
            <div *ngIf="planTransaction.tradingPlan">
              <a [routerLink]="['/trading-plan', planTransaction.tradingPlan?.id, 'view']">{{ planTransaction.tradingPlan?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/plan-transaction', planTransaction.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/plan-transaction', planTransaction.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(planTransaction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
